<!-- <mat-toolbar color="primary">
	<span *ngIf="post.title != undefined">{{post.title.rendered}}</span>
</mat-toolbar> -->
<div class="detail-wrap">
	<div class="container">
		<div class="detail-content">
			<div class="title">
				{{post.title.rendered}}
			</div>
			<mat-card-header>
				<mat-card-subtitle>{{ post.date_gmt | date }}</mat-card-subtitle>
			</mat-card-header>
			<mat-card-content [innerHTML]="post.content.rendered"></mat-card-content>
			<mat-card-actions align="start">
				<button *ngIf="token" class="delete" mat-button (click)="deletePost()">Delete</button>
				<button mat-button (click)="goBack()">Back</button>
			</mat-card-actions>
		</div>
	</div>
</div>