.detail-wrap {
    margin: 50px 0;
    button {
        background: #3f51b5;
        color: #fff;
    }
    mat-card-header {
        margin: 50px 0 0;
        width: 100%;
        text-align: right;
        display: block;
    }
    mat-card-actions {
        display: block;
        width: 100%;
        text-align: right;
    }
    .delete{
        background: red;
        margin: 0 10px 0 0;
    }
}