<hr>
<div class="post-new" *ngIf="status === 'create'; else show">
	<h2> Create Posts </h2>
	<form (ngSubmit)='createPost()'>
		<div class="form-group">
			<label for="title">Post title</label>
			<input type="text" class="form-control" [(ngModel)]='new_post.title' name='title' id="title" required>
		</div>

		<div class="form-group">
			<label for="content">Post content</label>
			<textarea class="form-control" id="content" rows="3" required [(ngModel)]='new_post.content' name='content'></textarea>
		</div>

		<button mat-button type="submit" class="btn btn-success">Submit</button>
	</form>
</div>
<ng-template #show>
	<div class="post-new">
		<h2> Edit Posts </h2>
		<form (ngSubmit)='editPost()'>
			<div class="form-group">
				<label for="title">Post title</label>
				<input type="text" class="form-control" [(ngModel)]='edit_post.title' name='title' id="title" required>
			</div>
	
			<div class="form-group">
				<label for="content">Post content</label>
				<textarea class="form-control" id="content" rows="3" required [(ngModel)]='edit_post.content' name='content'></textarea>
			</div>
	
			<button mat-button type="submit" class="btn btn-success">Submit</button>
		</form>
	</div>	
</ng-template>