.post-new {
    text-align: center;
    margin: 0 auto;
    max-width: 640px;
    form {
        margin: 30px 0;
        display: flex;
        flex-direction: column;
    }
    .form-group {
        margin: 0 0 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        input,
        textarea {
            width: 80%;
            border: 1px solid #ccc;            
            padding: 10px 20px;
        }
        input {
            height: 40px;
        }
    }
    button {
        background: burlywood;
    }
}

.warning {
    padding: 0 10px;
    color: red;
}