.list-post {
    display: flex;
    flex-flow: row wrap;
    mat-card {
        width: calc(33.33% - 32px);
        float: left;
    }
}

.mat-toolbar.mat-primary {
    justify-content: space-between;
}
