@import './reset';
@import './mixins';
@import './variables';

.title {
    margin: 30px 0;
    position: relative;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
    &:after {
        position: absolute;
        background: #3f51b5;
        content: "";
        width: 50px;
        height: 1px;
        @include h-align;
        bottom: -8px;
    }
}

h2 {
    font-size: 36px;
    font-weight: 700;
    text-transform: capitalize;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}

h4 {
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
}

.reviews-item, .owl-stage{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    padding: 30px 0;
    background: #f4f4f4;
    .reviews-item img {
        max-width: 200px;
    }
    .owl-nav{
        font-size: 40px;
        position: absolute;
        top: 50%;
        width: 100%;
        justify-content: space-between;
        display: flex;
        align-items: center;
        transform: translateY(-50%);
    }
}