footer{
    background: #ffffff;
    margin: 0;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
    .footer-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .copyright{
        float: left;
    }
    .footer-links{
        float: right;
        ul{
            li{
                display: inline-block;
                margin: 0 10px;
            }
        }
    }
}