<footer>
	<div class="container">
		<div class="footer-content">
			<div class="copyright">
				<p>&copy; Copyright 2019. All Rights Reserved by <a href="mailto:tranducsang.mta@gmail.com" title="tranducsang.mta@gmail.com">unityMTA</a></p>
			</div>
			<div class="footer-links">
				<ul>
					<li><a href="https://www.youtube.com/channel/UCNwCs9WIif10i_El9SkrkZQ?view_as=subscriber" title="Home">Youtube</a></li>
					<li><a href="https://twitter.com/tranxuansang193">Twitter</a></li>
					<li><a href="https://www.instagram.com/unitymta/">Instagram</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>