<div class="slider">
	<div class="container">
		<div class="slider-content">
			<owl-carousel class="reviews-list" [options]="mySlideOptions" [carouselClasses]="['owl-theme', 'sliding']">
				<div class="reviews-item">
					<img src="assets/images/Cadd-logo.png" alt="C++">
				</div>
				<div class="reviews-item">
					<img src="assets/images/Cshape-logo.png" alt="Cshape">
				</div>
				<div class="reviews-item">
					<img src="assets/images/java-logo.png" alt="java">
				</div>
				<div class="reviews-item">
					<img src="assets/images/nodejs-logo.png" alt="nodejs">
				</div>
				<div class="reviews-item">
					<img src="assets/images/php-logo.png" alt="php">
				</div>
				<div class="reviews-item">
					<img src="assets/images/python-logo.png" alt="python">
				</div>
			</owl-carousel>
		</div>
	</div>
</div>