<div class="category-wrap">
	<div class="container">
		<div class="title">List Category</div>
		<div class="content">
			<ul class="category-list">
				<li class="category-item" *ngFor="let list of categoryList">
					<div class="img" *ngFor="let img of featuredMedia">
						<img *ngIf="list.featured_media == img.id" [src]="img.source_url" alt="">					
					</div>
					<div class="wrap">
						<a routerLink="/detail/{{list.id}}" class="head">{{list.title.rendered}}</a>
						<div class="text">
							<mat-card-content [innerHTML]="list.excerpt.rendered"></mat-card-content>
						</div>
						<div class="action">
							<div class="view-edit">
								<a mat-button routerLink="/detail/{{list.id}}">View</a>
								<button *ngIf="tokenLocal" (click)="createPost('create')" mat-button >Create</button>
								<button *ngIf="tokenLocal" (click)="editPost('edit', list.id)" mat-button >Edit</button>
							</div>
							<div class="date">{{list.date | date}}</div>
						</div>
					</div>
				</li>				
			</ul>
		</div>
	</div>
</div>