.category-wrap {
    display: inline-block;
    width: 100%;
    background: #f8f8f8;
    padding: 0 0 50px;
    .category-list {
        .category-item {
            float: left;
            width: 33.33%;
            padding: 0 15px;
            .img {
                overflow: hidden;
                text-align: center;
                background: #fff;
                &:hover {
                    img {
                        transform: scale(1.3);
                    }
                }
                img {
                    transition: 0.8s;
                    max-height: 200px;
                    margin: 0 auto;
                    max-width: 100%;
                }
            }
            .wrap {
                background: #fff;
                padding: 20px;
                box-shadow: 0px 5px 10px #ccc;
                border-radius: 0 0 5px 5px;
                .head{
                    color: #000;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 1;
                    margin: 10px 0;
                    display: block;
                }
                .action {
                    margin: 20px 0 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    .view-edit {
                        float: left;
                        a, button {
                            border: 1px solid #ccc;
                            margin: 0 2px 0 0;
                        }
                    }
                    .date {
                        float: right;
                    }
                }
            }
        }
    }
}