.new-post{
    margin: 50px 0;
    .new-post-content{
        margin: 30px 0 0;
        display: inline-block;
        width: 100%;
        .post-list{
            display: inline-block;
            width: 100%;
            .post-item{
                float: left;
                width: 25%;
                padding: 0 20px;
                .img{
                    text-align: center;
                    img{
                        max-width: 100%;
                        max-height: 100px;
                    }
                }
                .header{
                    margin: 20px 0;
                    .link{
                        color: #222;
                        font-size: 16px;
                        font-weight: 500;
                    }
                }
                mat-card-content{
                    text-align: justify;
                }
            }
        }
    }
}