<div class="new-post">
	<div class="container">
		<div class="title">New post</div>
		<div class="new-post-content">
			<ul class="post-list">
				<li class="post-item" *ngFor="let post of posts | slice:0:4">	
					<div *ngFor="let img of featured_media" class="img">
						<img *ngIf="img.id == post.featured_media" [src]="img.source_url" />
					</div>				
					<div class="header">
						<a class="link" routerLink="detail/{{post.id}}">{{ post.title.rendered }}</a>
						<div class="date">{{ post.date_gmt | date }}</div>
					</div>
					<mat-card-content [innerHTML]="post.excerpt.rendered"></mat-card-content>				
				</li>
			</ul>
		</div>
	</div>
</div>