.category {
    background: #f8f9fa;
    display: inline-block;
    width: 100%;
    padding: 0 0 50px;
    .category-content {
        display: inline-block;
        width: 100%;
        margin: 10px 0 0;
        .category-list {
            .category-item {
                position: relative;
                float: left;
                width: 33.33%;
                padding: 0 15px;
                margin: 0 0 30px;
                &:hover{
                    .info{
                        display: block;
                    }
                }
                .img{
                    img{
                        max-width: 100%;
                        max-height: 100%;
                        height: 200px;
                        width: 100%;
                    }
                }
                .info {
                    display: none;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    z-index: 2;
                    transform: translate(-50%, -50%);
                    a{
                        cursor: pointer;                       
                        color: #fff;                        
                        font-size: 40px;
                        text-transform: uppercase;
                        font-weight: 700;
                    }                   
                }
            }
        }
    }
}