<div class="category">
	<div class="container">
		<div class="title">Category post</div>
		<div class="category-content">
			<ul class="category-list">
				<li class="category-item">
					<div class="img">
						<img src="assets/images/category-java.jpg" alt="">
					</div>
					<div class="info">
						<a class="link" routerLink="category/5">Java</a>
					</div>
				</li>
				<li class="category-item">
					<div class="img">
						<img src="assets/images/category-csharp.jpg" alt="">
					</div>
					<div class="info">
						<a class="link" routerLink="category/6">C#</a>
					</div>
				</li>
				<li class="category-item">
					<div class="img">
						<img src="assets/images/category-nodejs.png" alt="">
					</div>
					<div class="info">
						<a class="link" routerLink="category/3">NodeJs</a>
					</div>
				</li>
				<li class="category-item">
					<div class="img">
						<img src="assets/images/category-php.jpg" alt="">
					</div>
					<div class="info">
						<a class="link" routerLink="category/2">PHP</a>
					</div>
				</li>
				<li class="category-item">
					<div class="img">
						<img src="assets/images/category-python.png" alt="">
					</div>
					<div class="info">
						<a class="link" routerLink="category/4">Python</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>