<div class="authentication">
	<a routerLink="" class="logo">
		<img src="https://unitymta.github.io/images/logo.png" alt="">
	</a>
	<form *ngIf='token == null; else show' (ngSubmit)='auth()'>
		<div class='form-group'>
			<mat-form-field class="full-width">
				<input matInput placeholder="Username" name='login' id='login' required [disabled]="disabled">
			</mat-form-field>
		</div>

		<div class='form-group'>
			<mat-form-field class="full-width">
				<input type='password' matInput placeholder="Password" name='password' id='password' required [disabled]="disabled">
			</mat-form-field>
		</div>
		<button id="submit" color="primary" mat-button type="submit" class="btn btn-success">Submit</button>
	</form>
	<ng-template #show>
		<div class="account">
			Welcome {{account}}
			<a (click)="logOut()" mat-button>Log out</a>
		</div>
	</ng-template>
</div>