.authentication{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    .logo{
        img{
            width: 100px;
            border-radius: 50%;
        }
    }
    .account{
        justify-content: space-between;
        display: flex;
        align-items: center;
        a{
            margin: 0 0 0 10px;
        }
    }
    form{
        display: flex;
        flex-direction: row;
        align-items: center;
        .form-group{
            margin: 0 10px;
            label{
                margin: 0 10px;
            }
        } 
        button{
            background: aliceblue;
        }     
    }
}